.custom-select-wrapper
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: relative; /* para o dropdown absoluto */
}


.custom-select-label
{
    font-weight: 700;
    margin-bottom: 1rem;
}


.custom-select-trigger
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: var(--border-style);
    background-color: var(--main-background-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.6rem;
    min-height: 4.4rem;
}


.custom-select-trigger:focus,
.custom-select-list:focus
{
    outline: var(--outline-style);
    outline-offset: 0;
}


.custom-select-icon
{
    margin-left: 0.5rem;
}


.custom-select-list
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 4rem);
    overflow: auto;
    background-color: var(--main-background-color);
    border: var(--border-style);
    border-radius: 1rem;
    margin-top: 0.25rem;
    z-index: 9999;
    box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.2);
}


.custom-select-item
{
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.custom-select-item.highlighted,
.custom-select-item:hover
{
    background-color: #535361;
    color: var(--text-color);
}
