.formModal-wrapper
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}


.formModal-backdrop
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.300);
    z-index: 1100;
}


.formModal
{
    width: 90vw;
    min-height: 50%;
    max-height: 70%;
    border: var(--border-style);
    background-color: var(--main-background-color);
    border-radius: 1rem;
    z-index: 1110;
    overflow: auto;
}


.formModal .formModal-content-container
{
    overflow: auto;
    padding: 0;
}


@media (min-width: 28.2em)
{
    .formModal
    {
        max-width: 60rem;
        min-height: auto;
    }
}
