.auth-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: var(--max-size);
    width: var(--max-size);
}


.auth-main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--max-size);
    max-width: 90vw;
}


.auth-main h1
{
    margin-top: 2rem;
}

.auth-main form
{
    padding: 2rem var(--main-gap);
    border: var(--border-style);
    border-radius: 1rem;
    width: 85vw;
    max-width: 60rem;
    outline: none;
}

.otp-form
{
    outline: none;
}


.auth-screen-options-container
{
    width: var(--max-size);
}
