.home-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}


.home-main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    width: 100%;
    max-width: 90%;
    margin-bottom: 6rem;
}

.home-main-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.home-main-content-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.home-main-content-container p
{
    max-width: 42ch;
    margin: 0 auto;
}

.calculator-illustration
{
    display: block;
    width: auto;
    max-inline-size: 100%;
    max-height: 30rem;
}


.otp-form label
{
    max-width: 26ch;
    margin: 0 auto;
}


.home-footer
{
    width: 100%;
    border-top: var(--border-style);
    padding: 1rem 0;
    background-color: var(--secondary-background-color)
}

.author-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.author-link a
{
    text-decoration: none;
    border: none;
    border-radius: 1.5rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: var(--transitions);
}


.author-link a:hover
{
    border: var(--border-style);
    transform: translateX(0.3rem);
}


.author-link a:active
{
    transform: translateX(0.6rem);
}


@media (min-width: 58em)
{
    .home-main-container
    {
        flex-direction: row;
    }
    
    .calculator-illustration
    {
        max-height: none;
        min-height: 30rem;
    }
}
