.home-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.home-main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    max-width: 90%;
    margin-bottom: 6rem;
}

.home-main p
{
    max-width: 42ch;
    text-wrap: balance;
    margin: 0 auto;
}



.home-footer
{
    width: 100%;
    border-top: var(--border-style);
    padding: 1rem 0;
}

.author-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.author-link a
{
    text-decoration: none;
    border: none;
    border-radius: 1.5rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: var(--transitions);
}


.author-link a:hover
{
    border: var(--border-style);
    transform: translateX(0.3rem);
}


.author-link a:active
{
    transform: translateX(0.6rem);
}
