.overview-main
{
    padding: 2rem;
    outline: none;
}


.main-content
{   
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    margin: 4rem 0;
    max-width: 9ch;
}


.sidebar
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background: var(--main-background-color);
    border-top: var(--border-style);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1001;
}


.action-panel
{
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - 8rem);
    width: 24rem;
    background: var(--secondary-background-color);
    border-right: var(--border-style);
    padding: 1rem;
    overflow-y: auto;
    z-index: 1002;
}

.action-panel:focus
{
    outline: 0.3rem solid #C0C0C0;
    outline-offset: 0;
}


.action-panel button
{
    background-color: var(--main-background-color);
}

.sidebar button
{
    height: 3.5rem;
    min-width: 6rem;
    margin-top: 1rem;
}


.sidebar button:hover
{
    transform: translateY(0.3rem);
}


.sidebar button:active
{
    transform: translateY(0.6rem);
}


.options-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    margin: 2rem 0;
}


.options-income-container,
.options-expenses-container,
.options-export-container,
.options-navigation-container,
.options-account-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}


.summary-section,
.details-section,
.top-expenses-section
{
    margin: 4rem;
    width: 100%;
}


.summary-container
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.income-summary-container,
.expenses-summary-container,
.remaining-summary-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:var(--border-style);
    border-radius: 1rem;
    padding: 2rem;
}


.details-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    overflow: hidden;
    margin: 4rem 0;
}


@media (min-width: 31.25em)
{
    h1
    {
        max-width: none;
    }
}


@media (min-width: 50em)
{

    .main-content
    {
        margin-left: 7.5rem;
    }
    
    
    .sidebar
    {
        top: 0;
        left: 1.5rem;
        height: 100%;
        width: 6rem;
        border-right: var(--border-style);
        border-top: none;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }
    
    .sidebar button
    {
        width: 100%;
        margin-right: 1.5rem;
        margin-top: 0;
    }
    
    
    .action-panel
    {
        left: 7.5rem;
        height: 100vh;
    }
    
    
    .details-container
    {
        margin-bottom: auto;
    }
}


@media (min-width: 62.5em)
{
    .summary-section,
    .details-section,
    .top-expenses-section
    {
        max-width: 100rem;
    }
}


@media (min-width: 68.75em)
{
    
    .income-summary-container,
    .expenses-summary-container,
    .remaining-summary-container
    {
        flex-direction: row;
    }
}
