.overview-main
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}

h1
{
    margin: var(--main-gap) 0;
    max-width: 9ch;
}


.sidebar
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background: var(--main-background-color);
    border-top: var(--border-style);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1001;
}


.action-panel
{
    position: fixed;
    top: 0;
    left: 1rem;
    height: calc(100vh - 6rem);
    width: 24rem;
    background: var(--main-background-color);
    border-right: var(--border-style);
    padding: 1rem;
    overflow-y: auto;
    z-index: 1002;
}


.sidebar button
{
    height: 3.5rem;
    min-width: 6rem;
}


.sidebar button:hover
{
    transform: translateY(0.3rem);
}


.sidebar button:active
{
    transform: translateY(0.6rem);
}


.options-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--main-gap);
    margin: 2rem 0;
}


.options-income-container,
.options-expenses-container,
.options-export-container,
.options-navigation-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}


.summary-section,
.details-section,
.top-expenses-section
{
    margin: var(--main-gap);
    width: var(--max-size);
}


.summary-container
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.income-summary-container,
.expenses-summary-container,
.remaining-summary-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:var(--border-style);
    border-radius: 1rem;
    padding: 2rem;
}


.details-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap);
    overflow: hidden;
    margin: var(--main-gap) 0;
}


@media (min-width: 31.25em)
{
    h1
    {
        max-width: none;
    }
}


@media (min-width: 50em)
{
    .overview-main
    {
        margin-left: 7.5rem;
    }
    
    
    .sidebar
    {
        top: 0;
        left: 1.5rem;
        height: 100vh;
        width: 6rem;
        border-right: var(--border-style);
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }
    
    .sidebar button
    {
        width: var(--max-size);
        margin-right: 1.4rem;
    }
    
    
    .action-panel
    {
        left: 7.5rem;
        height: 100vh;
    }
    
    
    .details-container
    {
        margin-bottom: auto;
    }
}


@media (min-width: 62.5em)
{
    .summary-section,
    .details-section,
    .top-expenses-section
    {
        max-width: 100rem;
    }
}


@media (min-width: 68.75em)
{
    
    .income-summary-container,
    .expenses-summary-container,
    .remaining-summary-container
    {
        flex-direction: row;
    }
}
