.sidebar
{
    position: fixed;
    left: 0;
    top: 0;
    width: 6rem;
    height: 100vh;
    background: var(--main-background-color);
    border-right: var(--border-style);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    z-index: 1001;
}


.action-panel
{
    position: fixed;
    top: 0;
    left: 6rem;
    height: 100vh;
    width: 24rem;
    background: var(--main-background-color);
    border-right: var(--border-style);
    padding: 1rem;
    overflow-y: auto;
    z-index: 1002;
}

.sidebar button
{
    font-size: 1.4rem;
    padding: 0.5rem;
}


.sidebar button:hover
{
    transform: translateY(0.3rem);
}

.sidebar button:active
{
    transform: translateY(0.6rem);
}


.options-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--main-gap);
    margin: 2rem 0;
}

.options-income-container,
.options-expenses-container,
.options-export-container,
.options-navigation-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}


.overview-main
{
    margin-left: 6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
}


.current-date
{
    margin-top: 4rem;
}


.summary-section,
.details-section
{
    margin: var(--main-gap) auto;
    width: var(--max-size);
}


.summary-container
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.income-summary-container,
.expenses-summary-container,
.remaining-summary-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:var(--border-style);
    border-radius: 1rem;
    padding: 2rem;
}


.details-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap);
    overflow: hidden;
}


.donut-container
{
    flex: 1;
    width: var(--max-size);
}


@media (min-width: 62.5em)
{
    .summary-section,
    .details-section
    {
        max-width: 100rem;
    }
}


@media (min-width: 68.75em)
{
    
    .income-summary-container,
    .expenses-summary-container,
    .remaining-summary-container
    {
        flex-direction: row;
    }
}
