.table-wrapper
{
    border-radius: 1rem;
    overflow: auto;
    border:var(--border-style);
    width: var(--max-size);
    height: 23rem;
    outline: none;
}


.input-group
{
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}


.expenses-table
{
    table-layout: auto;
    width: var(--max-size);
    border-collapse: collapse;
    text-align: left;
}


.expenses-table thead tr th
{
    position: sticky;
    top: 0;
    height: 6rem;
    background-color: var(--main-background-color);
    z-index: 1;
}


.expenses-table thead tr th button:hover,
.input-group button:hover
{
    transform: translateY(0.3rem);
}


.expenses-table thead tr th button:active,
.input-group button:active
{
     transform: translateY(0.6rem)
}


th, td
{
    border: var(--border-style);
    padding: 0.5rem;
}


.expenses-table tbody tr
{
    height: 6rem;
}


tbody td
{
    padding-left: 1rem;
}


.expenses-table thead tr:first-child th,
.expenses-table tbody tr:first-child td
{
    border-top: none;
}


.expenses-table tbody tr:last-child td
{
    border-bottom: none;
}


.expenses-table tr th:first-child,
.expenses-table tr td:first-child
{
    border-left: none;
}


.expenses-table tr th:last-child,
.expenses-table tr td:last-child
{
    border-right: none;
}


.sort-button
{
    width: var(--max-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


.table-search-form
{
    width: var(--max-size);
    margin: 0 auto;
    background-color: var(--main-background-color);
}


.table-search-form label
{
    max-width: 30ch;
}


.table-search-input
{
    margin: 1rem auto
}


@media (min-width: 25em)
{
    .expenses-table
    {
        table-layout: fixed;
    }
    
    .input-group
    {
        flex-direction: row;
    }
    
    .input-group input
    {
        width: 60%;
    }
    
    .input-group button
    {
        width: 40%;
    }
    
    .sort-button
    {
        flex-direction: row;
        width: 12rem;
        margin-left: 1rem;
    }
}


@media (min-width: 35.5em)
{
    .table-search-form label
    {
        max-width: none;
    }
}


@media (min-width: 35.75em)
{
    .input-group input
    {
        width: 80%;
    }
    
    .input-group button
    {
        width: 20%;
    }
}


@media (min-width: 41em)
{
    .input-group
    {
        max-width: 80rem;
    }
}
