.chart-container
{
    flex: 1;
    width: var(--max-size);
}


.chart-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 auto;
}


.legend-container ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}


.legend-container li
{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}


.legend-container li p
{
    font-size: 1.4rem;
    font-weight: var(--medium-font);
    max-width: 20ch;
}


.legend-color
{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
}


@media (min-width: 73.75em)
{
    .chart-wrapper
    {
        flex-direction: row;
        width: 50%;
    }
}
