.table-wrapper
{
    border-radius: 1rem;
    overflow: hidden;
    border: 0.1rem solid;
    width: var(--max-size);
}


.expenses-table
{
    table-layout: fixed;
    width: var(--max-size);
    border-collapse: collapse;
    text-align: left;
}


th, td
{
    border: 0.1rem solid;
    padding: 0.5rem;
}


.expenses-table thead tr:first-child th
{
    border-top: none;
}


.expenses-table tbody tr:last-child td
{
  border-bottom: none;
}


.expenses-table tr th:first-child,
.expenses-table tr td:first-child
{
  border-left: none;
}


.expenses-table tr th:last-child,
.expenses-table tr td:last-child
{
  border-right: none;
}


td
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.table-search-input
{
    font-size: var(--text-font);
    margin-bottom: 1.5rem;
}


.table-pagination-container
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    font-size: var(--text-font);
}


@media (min-width: 35.5em)
{
    
    .table-pagination-container
    {
        flex-direction: row;
        justify-content: center;
    }

}
