.chart-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;
}


.chart-container
{
    /*
        Pelo que vi se uso flex no wrapper
        se não usar isto o donut desaparece
        não sei por que mas.. emfim.
    */
    flex: 1;
    width: var(--max-size);
}


.legend-container ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    
    display: grid;
    grid-template-columns: 1fr;
}


.legend-container li
{
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}


.legend-container li p
{
    font-size: var(--text-font);
    font-weight: var(--medium-font);
}


.legend-color
{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
}


@media (min-width: 47em)
{
    .chart-wrapper
    {
        flex-direction: row;
        gap: 0;
    }
}


@media (min-width: 62.5em)
{
    /*
        Tenta ajudar com layout-shift quando a
        legenda e o donut estão em flex row
    */
    .legend-container
    {
        min-width: 60rem;
    }
    
    .legend-container ul
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .legend-container li p
    {
        /*
            O mesmo que no .legend-container
        */
        min-width: 30ch;
    }
}
