.table-wrapper
{
    border-radius: 1rem;
    overflow: hidden;
    border:var(--border-style);
    width: var(--max-size);
}


.expenses-table
{
    table-layout: fixed;
    width: var(--max-size);
    border-collapse: collapse;
    text-align: left;
}


th, td
{
    border: var(--border-style);
    padding: 0.5rem;
}


tbody td
{
    padding-left: 1rem;
}

.expenses-table thead tr:first-child th,
.expenses-table tbody tr:first-child td
{
    border-top: none;
}


.expenses-table tbody tr:last-child td
{
    border-bottom: none;
}

.expenses-table tr th:first-child,
.expenses-table tr td:first-child
{
    border-left: none;
}

.expenses-table tr th:last-child,
.expenses-table tr td:last-child
{
    border-right: none;
}


td
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sort-button
{
    width: var(--max-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.table-search-form
{
    width: var(--max-size);
    margin: 0 auto;
    background-color: var(--main-background-color);
}

.table-search-form label
{
    max-width: 20ch;
}

.table-search-input
{
    margin: 1rem auto
}


.table-pagination-container
{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    font-size: var(--text-font);
}


@media (min-width: 35.5em)
{

    .sort-button
    {
        flex-direction: row;
    }
    
    
    .table-search-form label
    {
        max-width: none;
    }

    
    .table-pagination-container
    {
        flex-direction: row;
        justify-content: center;
    }

}
