.top-expenses-container
{
    width: 100%;
    margin: 0 auto;
    min-height: 23rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border: var(--border-style);
    border-radius: 1rem;
    text-align: center;
}


.top-expenses-list
{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}


.top-expenses-empty
{
    text-align: center;
}


.top-expenses-item
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
}


@media (min-width: 35.5em)
{
    .top-expenses-item
    {
        justify-content: space-between;
    }
}
