@charset "UTF-8";


:root
{
    --first-level-heading-font: clamp(2.2rem, 2.4rem + 4vw, 2.6rem);
    --second-level-heading-font: clamp(2rem, 2.2rem + 4vw, 2.4rem);
    --third-level-heading-font: clamp(1.8rem, 2rem + 4vw, 2.2rem);
    --text-font: 1.6rem;

    
    --main-background-color: #17171B;
    --secondary-background-color: #121216;
    --text-color:  #C0C0C0;
    
    --border-style: 0.1rem solid #535361;
    --outline-style: 0.2rem solid #C0C0C0;
    
    --transitions: transform 0.3s ease-in-out;
    --transform-hover: translate(0.3rem, 0.3rem);
    --transform-active: translate(0.6rem, 0.6rem);
}



*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.visually-hidden
{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


#root,
html,
body
{
    height: 100%;
}


html
{
    font-size: 62.5%;
}


body
{
    cursor: default;
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    background-color: var(--main-background-color);
    color: var(--text-color);
    padding: 0.1rem 0;
}


h1, h2, h3,
p, label,
span
{
    text-wrap: balance;
}

h1
{
    text-align: center;
    font-size: var(--first-level-heading-font);
    font-weight: 900;
}

h2
{
    text-align:  center;
    font-size: var(--second-level-heading-font);
    font-weight: 700;
    margin-bottom: 2rem
}

h3
{
    font-size: var(--third-level-heading-font);
    font-weight: 500;
}


button
{
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border: var(--border-style);
    border-radius: 1.5rem;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    transition: var(--transitions);
    min-width: 4.4rem;
    min-height: 4.4rem;
}

input[type="text"],
input[type="number"],
input[type="email"]
{
    min-height: 4.4rem;
}


input
{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: var(--border-style);
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    font-size: 1.6rem;
}


form
{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    background-color: var(--main-background-color);
}

form button
{
    width: 100%;
}

form h2
{
    margin: auto
}

label
{
    font-weight: 700;
    color: var(--text-color);
}


button:hover
{
    transform: var(--transform-hover);
}

button:active
{
    transform: var(--transform-active);
}


button:disabled
{
    cursor: not-allowed;
    transition: none;
    transform: none;
}


button:focus,
input:focus
{
    outline: var(--outline-style);
    outline-offset: 0;
}

a:focus
{
    outline: 0.3rem solid #C0C0C0;
    outline-offset: 0;
}
