@charset "UTF-8";


:root
{
    --first-level-heading-font: clamp(2.2rem, 2.4rem + 4vw, 2.6rem);
    --second-level-heading-font: clamp(2rem, 2.2rem + 4vw, 2.4rem);
    --third-level-heading-font: clamp(1.8rem, 2rem + 4vw, 2.2rem);
    --text-font: 1.6rem;
    
    --thin-font: 300;
    --normal-font: 400;
    --medium-font: 500;
    --bolder-font: 700;
    --heavier-font: 900;

    --main-gap: 4rem;
    --half-gap: 2rem;

    --max-size: 100%;
    
    
    --main-background-color: #0E121E;
    --text-color: #B7B7B7;
    --button-color: #0E121E;
    
    
    --border-style: 0.1rem solid #2C3242;
    --outline-style: 0.2rem solid #2C3242;
    --transitions: transform 0.3s ease-in-out;
    --transform-hover: translate(0.3rem, 0.3rem);
    --transform-active: translate(0.6rem, 0.6rem);
}



*,
*::before,
*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.visually-hidden
{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


#root,
html,
body
{
    height: 100%;
}


html
{
    font-size: 62.5%;
}


body
{
    cursor: default;
    line-height: 1.6;
    font-size: var(--text-font);
    font-weight: var(--normal-font);
    font-family: "Manrope", sans-serif;
    background-color: var(--main-background-color);
    color: var(--text-color);
}


h1
{
    text-align: center;
    font-size: var(--first-level-heading-font);
    font-weight: var(--heavier-font);
}

h2
{
    text-align:  center;
    font-size: var(--second-level-heading-font);
    font-weight: var(--bolder-font);
    margin-bottom: 2rem;
}

h3
{
    font-size: var(--third-level-heading-font);
    font-weight: var(--medium-font);
}


button
{
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: var(--bolder-font);
    font-size: var(--text-font);
    padding: 0.5rem 1rem;
    border: var(--border-style);
    border-radius: 1.5rem;
    background-color: var(--button-color);
    color: var(--text-color);
    transition: var(--transitions);
    min-width: 4.4rem;
    min-height: 4.4rem;
}

input[type="text"],
input[type="number"],
input[type="email"]
{
    min-height: 4.4rem;
}


input
{
    width: var(--max-size);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: var(--border-style);
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-size: var(--text-font);
}


form
{
    margin: var(--main-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    background-color: var(--main-background-color);
}

form button
{
    width: var(--max-size);
}

form h2
{
    margin: auto
}

label
{
    font-weight: var(--bolder-font);
    color: var(--text-color);
}


button:hover,
a:hover
{
    transform: var(--transform-hover);
}

button:active,
a:active
{
    transform: var(--transform-active);
}


button:disabled
{
    cursor: not-allowed;
    transition: none;
    transform: none;
}


button:focus,
input:focus,
a:focus
{
    outline: none;
}

button:focus,
input:focus
{
    outline: var(--outline-style);
    outline-offset: 0;
}

a:focus
{
    outline: 0.3rem solid #2C3242;
}
